* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* nav part css start */
nav {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}
.nav-main {
    display: flex;
    justify-content: space-between;
}
.nav-search {
    width: 20px;
    text-align: center;
    
}
.menu {
    width: 50%;
}
.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.menu ul li a {
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.menu ul li a::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 20px;
    transition: 0.5s;
}
.menu ul li a:hover::after {
    width: calc(100% - 40px);
}
.menuIcon {
    display: none;
}
.closeIcon {
    display: none;
}
input[type="search"] {
    margin-left: 200px;
    border-radius: 20px;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: none;
}


/* banner part css start */
#banner {
    background: url(../images/banner.jpg) no-repeat center / cover;
    padding: 50px 0 150px 0;
}
.banner-main {
    display: flex;
}
.banner-text {
    width: 50%;
    text-align: right;
    padding-left: 150px;
    padding-top: 150px;
}
.banner-text h1 {
    color: #fff;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.banner-text a {
    padding: 10px 30px;
    border: 2px solid #fff;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: 0.5s;
}
.banner-text a:hover {
    background-color: #8824cd;
    border: 2px solid transparent;
}
.banner-text p {
    margin-top: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
/* nav part css end */
/* banner part css end */


/* about part css start */
#about {
    padding: 70px 0;
}
.about-head {
    text-align: center;
}
.h1 {
    position: relative;
    display: inline-block;
}
.h1 h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.about-shape {
    position: absolute;
    width: 200px;
    height: 70px;
    bottom: 0px;
    left: -45px;
}
.about-shape img {
    width: 100%;
}

.about-main {
    margin-top: 100px;
    display: flex;
}
.about-img {
    width: 40%;
    position: relative;
}
.overly {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-image: linear-gradient(rgba(113, 0, 128, 0.747), rgba(219, 190, 24, 0.733));
    top: 0;
    left: 0;
    transform: scale(0);
    transition: 0.5s;
}
.eye {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.eye i {
    color: #fff;
    width: 100%;
    font-size: 40px;
    transition: 0.5s;
}
.eye i:hover {
    color: rgb(17, 6, 2);
}
.about-img:hover .overly {
    transform: scale(1);
}
.about-img img {
    width: 100%;
    border-radius: 30px;
}
.about-text {
    width: 60%;
    margin-top: 20px;
}
.about-text h4 {
    padding: 0 50px 0 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.sub-text {
    display: flex;
}
.img {
    width: 50px;
    height: 50px;
    border: 2px solid #ff8b38;
    text-align: center;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 30px;
}
.img img {
    width: 30px;
    padding-top: 10px;
}
.sub-text h5 {
    width: 500px;
    padding: 30px 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
/* about part css end */


/* gallery part css start */
.gallery-head {
    text-align: center;
}
.gallery-shape {
    position: absolute;
    width: 200px;
    height: 70px;
    bottom: 0px;
    left: -30px;
}
.gallery-shape img {
    width: 100%;
}
.gallery-main {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.gallery-items {
    width: 32%;
}
.gallery-img2 {
    width: 100%;
    height: 32%;
    margin-bottom: 20px;
    border-radius: 40px;
    position: relative;
}
.gallery-img2 img {
    width: 100%;
    border-radius: 40px;
    height: 100%;
}

.test {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.gallery-img1 {
    width: 100%;
    height: 32%;
    margin-bottom: 20px;
    border-radius: 40px;
    position: relative;
}
.gallery-img1 img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.a-overly {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(113, 0, 128, 0.747), rgba(219, 190, 24, 0.733));
    top: 0;
    left: 0;
    border-radius: 40px;
    transform: scale(0);
    transition: 0.5s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.share {
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
.share i {
    font-size: 30px;
    margin-top: 10px;
    color: #fff;
}
.share:hover {
    background-color: #1fbfca;
    border: 2px solid transparent;
}

.link ul {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(200%, -50%);
    -webkit-transform: translate(200%, -50%);
    -moz-transform: translate(200%, -50%);
    -ms-transform: translate(200%, -50%);
    -o-transform: translate(200%, -50%);
    visibility: hidden;
}
.link ul li i {
    color: #fff;
    margin: 3px;
    padding: 10px;
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    transition: 0.5s;
}
.link ul li i:hover {
    background-color: #ee23d3ab;
    border: 2px solid transparent;
}
.gallery-img1:hover .a-overly {
    transform: scale(1);
}
.gallery-img2:hover .a-overly {
    transform: scale(1);
}
.share:hover .link ul {
    visibility: visible;
}
/* gallery part css end */


/* team part css start */
#team {
    margin-top: 100px;
}
.team-head {
    text-align: center;
}
.team-shape {
    position: absolute;
    width: 200px;
    height: 70px;
    bottom: 0px;
    left: -19px;
}
.team-shape img {
    width: 100%;
}
.team-main {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.team-items {
    width: 23%;
    height: 350px;
    border-radius: 30px;
    position: relative;
}
.team-items img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.t-over1 {
    position: absolute;
    width: 100%;
    height: 0;
    background-image: linear-gradient(rgba(113, 0, 128, 0.747), rgba(219, 190, 24, 0.733));
    top: 0;
    left: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition: 0.5s;
}
.t-over2 {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgba(219, 190, 24, 0.733);
    top: 116.66px;
    left: 0;
    transition: 0.5s;
}
.t-over3 {
    position: absolute;
    width: 100%;
    height: 0;
    background-image: linear-gradient(rgba(219, 190, 24, 0.733), rgba(113, 0, 128, 0.747));
    top: 233.32px;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.5s;
}
.team-items:hover .t-over1 {
    height: 116.66px;
}
.team-items:hover .t-over2 {
    height: 116.66px;
}
.team-items:hover .t-over3 {
    height: 116.66px;
}
.team-text {
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    margin-top: 10px;
    position: relative;
}
.text-over1 {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(216, 47, 112, 0.699), rgba(93, 219, 54, 0.623));
    top: 0;
    left: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: 0.9s;
}
.text-over2 {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(93, 219, 54, 0.623), rgba(216, 47, 89, 0.5));
    top: 0;
    right: 0;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    transition: 0.9s;
}
.team-items:hover .text-over1 {
    width: 0;
}
.team-items:hover .text-over2 {
    width: 0;
}
.team-text h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.team-text h5 {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.team-text p {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.team-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    transition: 0.5s;
    transform: scale(0);
}
.team-menu ul li a {
    color: #fff;
    padding: 10px;
    background-color: #c416db;
    border-radius: 10px;
    margin: 0 2px;
    width: 40px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
}
.team-menu ul li a:hover {
    color: red;
    background-color: yellow;
}
.team-items:hover .team-menu ul {
    transform: scale(1);
}
/* team part css end */


/* testimonial part css start */
#testi {
    padding: 200px 0 100px 0;
}
.testi-head {
    text-align: center;
}
.testi-shape {
    position: absolute;
    width: 200px;
    height: 70px;
    bottom: 0px;
    left: -30px;
}
.testi-shape img {
    width: 100%;
}

.testi-main {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
.testi-items {
    width: 30.50%;
    background-color: #d4cfcf;
    border-radius: 30px;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
}
.design1 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -30px;
    left: -30px;
    transform: scale(0);
    transition: 0.4s;
}
.design1 img {
    width: 100%;
}
.design2 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -30px;
    right: -30px;
    transform: scale(0);
    transition: 0.4s;
}
.design2 img {
    width: 100%;
    transform: rotate(180deg);
}
.design3 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -30px;
    right: -30px;
    transform: scale(0);
    transition: 0.4s;
}
.design3 img {
    width: 100%;
    transform: rotate(95deg);
}
.design4 {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -30px;
    left: -30px;
    transform: scale(0);
    transition: 0.4s;
}
.design4 img {
    width: 100%;
    transform: rotate(-85deg);
}
.testi-items:hover .design1 {
    transform: scale(1);
}
.testi-items:hover .design2 {
    transform: scale(1);
}
.testi-items:hover .design3 {
    transform: scale(1);
}
.testi-items:hover .design4 {
    transform: scale(1);
}

.testi-items h4 {
    margin-top: 80px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 20px;
    transition: 0.5s;
}
.testi-items p {
    margin-top: 20px;
    padding: 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.testi-items:hover h4 {
    color: red;
}
.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #d4cfcf;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.circle img {
    width: 100%;
    margin-top: 10px;
    transition: 10s;
}
.testi-items::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testi-items::before {
    position: absolute;
    content: '';
    width: 105px;
    height: 105px;
    border: 5px solid #d4cfcf;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testi-items:hover .circle img {
    transform: rotate(2000deg);
}
/* testimonial part css end */


/* service part css start */
#service {
    padding: 0 0 100px 0;
}
.service-head {
    text-align: center;
}
.ser-shape {
    position: absolute;
    width: 200px;
    height: 70px;
    bottom: 0px;
    left: 6px;
}
.ser-shape img {
    width: 100%;
}

.service-main {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.ser-items {
    width: 32%;
    height: 200px;
    background-image: linear-gradient(rgba(89, 226, 215, 0.795), rgba(66, 91, 233, 0.678));
    border-radius: 50%;
    position: relative;
    text-align: center;
    padding: 20px;
}
.ser-items h3 {
    text-transform: uppercase;
    margin-top: 30px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 25px;
    transition: 0.5s;
}
.ser-items p {
    margin-top: 10px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.ser-items::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 100%;
    border: 5px solid rgb(43, 132, 248);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 0.5s;
    visibility: hidden;
}
.ser-items:hover h3 {
    color: red;
}
.ser-items:hover::after {
    width: 100%;
    visibility: visible;
}
/* service part css end */


/* footer part css start */
#footer {
    background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411)), url(../images/footer-banner.jpg) no-repeat center / cover;
    padding: 100px 0;
}
.footer-main {
    display: flex;
    justify-content: space-between;
}
.footer-left {
    width: 29%;
    background-color: rgba(0, 0, 0, 0.664);
    padding: 20px;
    border-radius: 30px;
}
.footer-left h3 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
.footer-text {
    display: flex;
    margin-top: 30px;
}
.footer-text i {
    font-size: 30px;
    color: #1fbfca;
}
.footer-text p {
    color: #fff;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.footer-right {
    width: 29%;
    background-color: rgba(0, 0, 0, 0.664);
    padding: 20px;
    border-radius: 30px;
}
.right-main {
    display: flex;
    flex-wrap: wrap;
}
.footer-right h3 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
.un {
    margin-top: 30px;
    width: 100%;
    display: flex;
}
.un i {
    color: #1fbfca;
    font-size: 20px;
}
.un p {
    color: #fff;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.un-d ul {
    list-style-type: none;
    display: flex;
    margin-left: 70px;
    margin-top: 40px;
}
.un-d ul li a {
    color: #fff;
    padding: 10px;
    margin: 0 2px;
    width: 40px;
    display: inline-block;
    text-align: center;
    background-color: #19daca;
    border-radius: 10px;
    transition: 0.5s;
}
.un-d ul li a:hover {
    background-color: #fff;
    color: #19daca;
}

.footer-img {
    width: 39%;
    background-color: rgba(0, 0, 0, 0.664);
    padding: 20px;
    border-radius: 30px;
}
.footer-img h3 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
.f-img {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.one {
    margin-bottom: 10px;
    width: 23%;
    height: 70px;
    position: relative;
}
.one::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: 0.5s;
    transform: scale(0);
}
.one:hover::after {
    transform: scale(1);
}
.one img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* footer part css end */